*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #cfd1e1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;  
    
    .box{
        position: relative;
        width: 400px;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: #fff;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 100%;
            background: linear-gradient(#fff, #fff, #e3e3e3);
            filter: blur(1px);
            z-index: 1;
        }
    }
}